{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% import _self as helper %}

{% block toolbar %}
    {% if collector.count > 0 %}
        {% set icon %}
            {{ include('@Nav/Icon/nav.svg') }}
            <span class="sf-toolbar-value">{{ collector.count }}</span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <b>Total time</b>
                <span>{{ '%.0f'|format(collector.duration) }} ms</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Peak memory usage</b>
                <span>{{ '%.2f'|format(collector.memory / 1024 / 1024) }} MB</span>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: 'nav' }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label{{ collector.count == 0 ? ' disabled' }}">
        <span class="icon">{{ include('@Nav/Icon/nav.svg') }}</span>
        <strong>NAV</strong>
    </span>
{% endblock %}

{% block panel %}
    {% import _self as helper %}
    <style>
        .nav-container {
            background: #F5F5F5;
            margin: .5em 0;
            padding: 1em;
            border: 1px solid #DDD;
            white-space: pre-wrap;
        }
    </style>

    <h2>NAV calls</h2>

    {% if collector.count == 0 %}
        <div class="empty">
            <p>No calls have been collected.</p>
        </div>
    {% else %}
        <div class="sf-tabs">
            {% for name, connection in collector.connections %}
                <div class="tab">
                    <h3 class="tab-title">{{ name }}<span class="badge">{{ connection.count }}</span></h3>
                    <div class="tab-content">
                        <div class="metrics">
                            <div class="metric">
                                <span class="value">{{ '%.0f'|format(connection.duration) }} <span class="unit">ms</span></span>
                                <span class="label">Total execution time</span>
                            </div>
                            <div class="metric">
                                <span class="value">{{ '%.2f'|format(connection.memory / 1024 / 1024) }} <span class="unit">MB</span></span>
                                <span class="label">Peak memory usage</span>
                            </div>
                        </div>

                        <table>
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Time</th>
                                <th>Memory</th>
                                <th>Request</th>
                            </tr>
                            </thead>
                            {% for i, call in connection.calls %}
                                <tr>
                                    <td class="font-normal text-small text-muted nowrap">{{ i + 1 }}</td>
                                    <td class="nowrap">{{ '%.0f'|format(call.event.duration) }} ms</td>
                                    <td class="nowrap">{{ '%.2f'|format(call.event.memory / 1024 / 1024) }} MB</td>
                                    <td>
                                        <pre class="nav-container">{{ call.request }}</pre>
                                        <div class="text-small font-normal">
                                            <a href="#" onclick="return toggle(this);" class="sf-toggle link-inverse" data-toggle-selector="#response-{{ i }}-{{ loop.index }}" data-toggle-alt-content="Hide response">View response</a>
                                        </div>
                                        <div id="response-{{ i }}-{{ loop.index }}" class="hidden">
                                            <pre class="nav-container">{{ call.response }}</pre>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <script type="text/javascript">//<![CDATA[
        function toggle(target) {
            var targetSelector = target.getAttribute('data-toggle-selector');
            var targetDataAltContent = target.getAttribute('data-toggle-alt-content');
            var targetElement = document.querySelector(targetSelector);
            target.setAttribute('data-toggle-alt-content', target.text());

            if (targetElement.style.display != 'block') {
                targetElement.style.display = 'block';
                target.innerHTML = targetDataAltContent;
            } else {
                targetElement.style.display = 'none';
                target.innerHTML = targetDataAltContent;
            }

            return false;
        }
        //]]></script>
{% endblock %}
