{% extends 'base.html.twig' %}

{% block title %}Contacts list{% endblock %}

{% block stylesheets %}
    <style>
        form{text-align:left;max-width:50%;margin-left:20px;}
        input{margin:10px 0;display:inline-block;}
    </style>
{% endblock %}

{% block content %}
    <form action="{{ path('contact_search') }}" method="get">
        <input placeholder="Mail" type="search" id="search" name="email" value="{{ app.request.query.get('email') }}"/>

        <button type="submit">Search</button>
    </form>

    <ul>
        {% for contact in contacts %}
            <li>
                <a href="{{ path('contact_edit', {'no': contact.no}) }}">{{ contact.no }}</a> - {{ contact.name }} ({{ contact.email }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
    <p><a href="{{ path('contact_create') }}">Create</a></p>
{% endblock %}
